.dropdown-container {
  display: inline-block;
}

.dropdown-container .input  {
  caret-color: transparent;
}

.dropdown-ul { 
  padding: 4px; 
  border-radius: 8px;
  width: 200px;
  background-color: var(--white-color);
  color: var(--neutral-color-400);
}


.dropdown:active, .dropdown:focus, .dropdown:focus-visible {
  outline: solid 2px var(--brand-color-500);
}

.dropdown-li {
  border-radius: 8px;
  color: var(--neutral-color-900);
  text-align: left;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.dropdown-li:hover {
  background-color: var(--brand-color-100);
  cursor: pointer;
}

.dropdown-group-title {
  text-align: left;
  color: var(--neutral-color-500);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.grouped-li {
  padding-left: 42px;
}

.dropdown-tag {
  display: inline-block;
  color: var(--neutral-color-600);
  padding: 6px 8px;
  background-color: var(--neutral-color-100);
  border-radius: 26px;
}

.close-tag-img {
  vertical-align: middle;
  margin-left: 4px;
}