.stepper .input {
margin: 0 8px;
}

.stepper-btn {
  display: inline-block;
}

.stepper-btn  .button {
  border-radius: 50%;
}


.stepper-medium .input, .stepper-big .input {
  width: 85px;
}
.stepper-small .input {
  width: 72px;
}