.input {
  appearance: none;
  border: solid 1px var(--neutral-color-400);
  border-radius: 8px;
  width: 200px;
  background-color: var(--white-color);
}

.input:hover {  
  border: solid 1px var(--neutral-color-500);
}

.input:active, .input:focus, .input:focus-visible {
  outline: solid 2px var(--brand-color-500);
}

.input::placeholder {
  color: var(--neutral-color-400);
  font-weight: 400;
}

.input-medium {
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
}

.input-big {
  padding-top: 16px;
  padding-left: 12px;
  padding-bottom: 16px;
}

.input-medium::placeholder, .input-big::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-small {
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 8px;
}

.input-small::placeholder {
  font-size: 14px;
  line-height: 20px;
}

.input--non-valid {
  border: solid 1px var(--rose-color-400);
}

.input-validation-text {
  color: var(--rose-color-600);
  text-align: left;
}

.input-container {
 display: inline-block;
 position: relative;
}

.input-icon {
  position: absolute;
}

.input-icon--left {
  left: 10px;
}

.input-container--medium .input-icon--left {
  top: 12px;
}
.input-container--big .input-icon--left {
  top: 18px;
}
.input-container--small .input-icon--left {
  top: 8px;
}

.input-icon--left+.input-medium, .input-icon--left+.input-big, .input-icon--left+.input-small {
  padding-left: 38px;
}

.input-icon--right {
  right: 8px;
}

.input-container--medium .input-icon--right {
  top: 12px;
}
.input-container--big .input-icon--right {
  top: 18px;
}
.input-container--small .input-icon--right {
  top: 8px;
}

.input-label {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: left;
}