.button {
cursor: pointer;
border: none;
border-radius: 8px;
}

.button:disabled, .button--loading {
  cursor: auto;
}

.button-icon, .button-text, .loader {
  vertical-align: middle;
}

.button-icon--left {
  margin-right: 8px;
}
.button-icon--right {
  margin-left: 8px;
}

/* Size */
.button-medium {
  height: 44px;
  padding: 0 16px;
}

.button-medium.button--icon-only {
  padding: 0 10px;
}

.button-big {
  height: 56px;
  padding: 0 16px;
}

.button-small {
  height: 36px;
  padding: 0 12px;  
}

.button-small.button--icon-only {
  padding: 0 6px;
}

/* Style */
.button-primary{
  background-color: var(--brand-color-600);
  color: var(--white-color);
  /* body text-base font-semibold */
}

/* Style:hover */
.button-primary:hover {
  background-color: var(--brand-color-700);
}

.button-secondary:hover{}

.button-tertiary:hover{}


/* Style:disabled */
.button-primary:disabled, .button-secondary:disabled {
  background-color: var(--neutral-color-100);
  color: var(--neutral-color-400);
}

.button-tertiary:disabled{}



/* Style--loading */
.button-primary.button--loading{  
  background-color: var(--brand-color-400);
  color: var(--white-color);
}

.button-secondary--loading{}

.button-tertiary--loading{}

.loader {
  margin-left: 8px;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.button--loading.button--icon-only .loader{
 margin: 0;
}
