.password-input-container {
  display: inline-block;
  position: relative;
}

.password-input-icon {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.password-input-container-medium .password-input-icon  {
  top: 12px;
}
.password-input-container-big .password-input-icon  {
  top: 18px;
}
.password-input-container-small .password-input-icon  {
  top: 8px;
}

.password-strength {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  height: 4px;
}

.strength-item {
  border-radius: 4px;
  background-color: var(--neutral-color-200);
}

.password-strength-text-container {
  position: relative;
  display: flex;
  justify-content: end;
  margin-top: 6px;
}

.password-strength-text {
  margin-right: 4px;
}

.password-strength-info-img {
  cursor: pointer;
  vertical-align: middle;
}

.popover {
  position: relative;
  z-index: 1;
  left: 24px;
}

.popover-arrow {
  position: absolute;
  top: 6px;
  right: 24px;
  z-index: 2;
}

.popover-body {
  position: absolute;
  top: 13px;
  width: 208px;
  background-color: var(--white-color);
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--neutral-color-900);
  text-align: left;
  border: solid 1px var(--neutral-color-200);
}

.password-strength--weak > .strength-item:first-child{
  background-color: var(--rose-color-600);
}

.password-strength-text-container--weak .password-strength-text {
  color: var(--rose-color-600);
}

.password-strength--medium > .strength-item:first-child, .password-strength--medium > .strength-item:first-child+.strength-item{
  background-color: var(--amber-color-600);
}

.password-strength-text-container--medium .password-strength-text {
  color: var(--amber-color-600);
}

.password-strength--good > .strength-item:not(:last-child){
  background-color: var(--teal-color-600);
}

.password-strength-text-container--good .password-strength-text {
  color: var(--teal-color-600);
}

.password-strength--great > .strength-item{
  background-color: var(--teal-color-600);
}

.password-strength-text-container--great .password-strength-text {
  color: var(--teal-color-600);
}
