.password-input-container {
  display: inline-block;
  position: relative;
}

.password-input-icon {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.password-input-container-medium .password-input-icon  {
  top: 12px;
}
.password-input-container-big .password-input-icon  {
  top: 18px;
}
.password-input-container-small .password-input-icon  {
  top: 8px;
}

.password-strength {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  height: 4px;
}

.strength-item {
  border-radius: 4px;
  background-color: var(--neutral-color-200);
}

.password-strength--weak {
  background-color: var(--rose-color-600);
}
