@import "./typography.css";
* {
  font-family: Inter, sans-serif;
}
#root {
  margin: 0 auto;
  padding: 16px 32px;
  text-align: center;
}

:root {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  /* === Color Variables === */

  /* Neutral Colors */
  --neutral-color-900: #111827;
  --neutral-color-800: #1f2937;
  --neutral-color-700: #374151;
  --neutral-color-600: #4b5563;
  --neutral-color-500: #6b7280;
  --neutral-color-400: #94a3b8;
  --neutral-color-300: #cbd5e1;
  --neutral-color-200: #e5e7eb;
  --neutral-color-100: #f3f4f6;
  --neutral-color-50: #f8fafc;

  /* Basic Colors */
  --black-color: #000000;
  --white-color: #ffffff;

  /* Status Colors */
  --rose-color-600: #e11d48;
  --rose-color-400: #fb7185;
  --rose-color-50: #fff1f2;
  --amber-color-600: #d97706;
  --amber-color-400: #f59e0b;
  --amber-color-100: #fef3c7;
  --teal-color-600: #0d9488;
  --teal-color-400: #2dd4bf;
  --teal-color-50: #f0fdfa;

  /* Brand Colors */
  --brand-color-900: #312e81;
  --brand-color-800: #3730a3;
  --brand-color-700: #4338ca;
  --brand-color-600: #4f46e5;
  --brand-color-500: #6366f1;
  --brand-color-400: #818cf8;
  --brand-color-300: #a5b4fc;
  --brand-color-200: #c7d2fe;
  --brand-color-100: #e0e7ff;
  --brand-color-50: #eef2ff;
}
